services:
  test-kitchen-db:
    image: mariadb:11.3.2
    container_name: test-kitchen-db
    restart: always
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    environment:
      MYSQL_HOST: test-kitchen-db
      MYSQL_PORT: 3306
      MYSQL_USER: maria
      MYSQL_PASSWORD: maria
      MYSQL_DB: test_kitchen
      MYSQL_ROOT_PASSWORD: maria
  test-kitchen:
    image: docker-registry.wikimedia.org/repos/data-engineering/test-kitchen:latest
    container_name: test-kitchen
    restart: always
    volumes:
      - ./config.dev.yaml:/srv/service/config.dev.yaml
    environment:
      DATABASE_PASSWORD: maria
      IDP_CLIENT_SECRET: idp_client_secret
      SESSION_SECRET: session_secret
      CSRF_SECRET: csrf_secret

      # Part 1 of disabling authentication: Ensure that the app is running in development mode
      NODE_ENV: development
    ports:
      - "8086:8086"
